<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/NAR_STAINLESS_STEEL</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="com.nar.model.Barang"/>
    <mapping class="com.nar.model.Employee"/>
    <mapping class="com.nar.model.Customer"/>
    <mapping class="com.nar.model.Supplier"/>
    <mapping class="com.nar.model.DetailPenjualan"/>
    <mapping class="com.nar.model.Penjualan"/>
    <mapping class="com.nar.model.Pembelian"/>
    <mapping class="com.nar.model.DetailPembelian"/>
    <mapping class="com.nar.model.MasterAkun"/>
    <mapping class="com.nar.model.JurnalUmum"/>
  </session-factory>
</hibernate-configuration>
